<navBar></navBar>
<div class="bg-[#00574c] py-36 px-4">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center justify-center gap-10">

    <!-- Title -->
    <h2 class="text-2xl md:text-3xl font-bold text-yellow-500 whitespace-nowrap">
      Ask anything?
    </h2>

    <!-- Input + Dropdown -->
    <div class="flex items-center bg-white rounded-full shadow-md px-5 py-3 w-full max-w-md">
      <input
        type="text"
        placeholder="Enter your Email"
        class="flex-grow px-2 py-1 text-m text-gray-700 outline-none"
      />
        <button
        type="submit"
        class="ml-2 px-5 py-3 text-m bg-yellow-500 hover:bg-yellow-700 text-black font-semibold rounded-full transition"
      >
        Submit
      </button>
    </div>

  </div>
</div>



<section class="py-16 bg-gray-100">
  <div class="max-w-4xl mx-auto px-4">
     <h2 class="text-3xl md:text-4xl text-center font-extrabold text-blue-900 mb-14">
    FAQs Questions
  </h2>

    <div class="md:col-span-2 space-y-4">
      <!-- 1 -->
      <div class="bg-white p-5 rounded-md shadow-sm">
        <details class="group">
          <summary class="flex justify-between items-center cursor-pointer font-semibold text-left list-none">
            <span>How will my gold be checked?</span>
            <svg class="w-5 h-5 text-gray-700 transition-transform duration-300 group-open:rotate-45" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
          </summary>
          <p class="mt-2 text-gray-600">
            Nakadh's appraisal team are highly experienced in the art of manual gold testing.
            They come from years of experience, and they undergo extensive training at Nakadh before they start appraising customers’ jewellery.
          </p>
        </details>
      </div>
      <!--2-->
      <div class="bg-white p-5 rounded-md shadow-sm">
        <details class="group">
          <summary class="flex justify-between items-center cursor-pointer font-semibold text-left list-none">
            <span>What is the eligibility criterion to qualify for a gold loan?</span>
            <svg class="w-5 h-5 text-gray-700 transition-transform duration-300 group-open:rotate-45" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
          </summary>
          <p class="mt-2 text-gray-600">
           For a gold loan, applicants should be aged above 18 years and should have gold that needs to be mortgaged with the bank.
          </p>
        </details>
      </div>
<!-- 3 -->
 <div class="bg-white p-5 rounded-md shadow-sm">
        <details class="group">
          <summary class="flex justify-between items-center cursor-pointer font-semibold text-left list-none">
            <span>How long does it take to complete the gold loan approval process ?</span>
            <svg class="w-5 h-5 text-gray-700 transition-transform duration-300 group-open:rotate-45" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
          </summary>
          <p class="mt-2 text-gray-600">
           The loan approval process for gold loan is very fast. If your application meets all the requirements, it takes just an hour for the loan amount to be disbursed.
          </p>
        </details>
      </div>
<!-- 4 -->
 <div class="bg-white p-5 rounded-md shadow-sm">
        <details class="group">
          <summary class="flex justify-between items-center cursor-pointer font-semibold text-left list-none">
            <span>What are the additional fees that I will need to pay at the time of taking a loan?</span>
            <svg class="w-5 h-5 text-gray-700 transition-transform duration-300 group-open:rotate-45" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
          </summary>
          <p class="mt-2 text-gray-600">
           A nominal processing fee is levied on your gold loan.The processing fee charged varies from one bank to another but generally does not exceed 2% of the loan amount.
           In addition to the processing fee, you are expected to pay a gold validation charge, which the bank will incur.
          </p>
        </details>
      </div>
      <!-- 5 -->
       <div class="bg-white p-5 rounded-md shadow-sm">
        <details class="group">
          <summary class="flex justify-between items-center cursor-pointer font-semibold text-left list-none">
            <span>Is the gold pledged with banks safe?</span>
            <svg class="w-5 h-5 text-gray-700 transition-transform duration-300 group-open:rotate-45" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
          </summary>
          <p class="mt-2 text-gray-600">
            Banks take a lot of precaution while storing your gold and keep it safe until the loan amount is returned.
            They understand the sentimental value attached to gold ornaments and act as custodians while the gold remains with them.
          </p>
        </details>
      </div>
 <!-- 6 -->
       <div class="bg-white p-5 rounded-md shadow-sm">
        <details class="group">
          <summary class="flex justify-between items-center cursor-pointer font-semibold text-left list-none">
            <span>What are the documents that I need to submit?</span>
            <svg class="w-5 h-5 text-gray-700 transition-transform duration-300 group-open:rotate-45" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
            </svg>
          </summary>
          <p class="mt-2 text-gray-600">
           A gold loan only requires you to submit KYC documents for verification before the loan can be processed and disbursed.
           This includes ID proof and address proof, which can be a driver’s license, Aadhar card, voter ID, PAN card, or passport.
           Along with this, a utility bill or lease agreement must be provided.
          </p>
        </details>
      </div>

    </div>
  </div>
</section>
<footerpage></footerpage>
